            /* 1024x768 */
            @media screen and (min-width: 1024px) and (max-width: 1279px) {

                img{
                    margin-left: 3px;
                }

                .item_1{
                    height: 750px;
                }

                .guitarra_1{
                    margin-left: 13px;
                }

                .preco{
                    margin-left: 30px;
                    margin-top: 30px;
                    font-size: 18px;
                }

            }


            /* 1280×720 */
            @media screen and (min-width: 1280px) and (max-width: 1365px) {}

            /* 1280×1024 */
            @media screen and (max-width: 1280px) and (min-height: 1024px) {}

            /* 1280×720 */
            @media screen and (width: 1280px) and (min-height: 700px) {}

            /* 1280×800 */
            @media screen and (width: 1280px) and (min-height: 800px) {}

            /* 1280×900 */
            @media screen and (width: 1280px) and (min-height: 900px) {
                img{
                    margin-left: 15px;
                }
                .item_1{
                    height: 700px;
                }
                .gibson{
                    width: auto; margin-left: -30px;
                }
                .preco{
                    margin-top: 3.5vh; margin-left: 4.3vw;
                }
                .fender{
                    width: 90%; margin-left: 10px;
                }
            }

            /* 1280×960 */
            @media screen and (width: 1280px) and (min-height: 960px) {}

            /* 1280×900 */
            @media screen and (width: 1280px) and (height: 900px) {
   
            }

            /* 1366×768 */
            @media screen and (min-width: 1366px) and (max-width: 1599px) {

            }

            /* 1600×900 */
            @media screen and (min-width: 1600px) and (max-width: 1919px) {


            }

            /* 1920×1080 */
            @media screen and (min-width: 1920px) and (max-width: 2159px) {
             

            }

            @media screen and (max-width:932px) {
                body{
                    margin-left: 0;
                }
                header{
                    padding-right: 5%;
                    width: max-content;
                    height: auto;
                    margin-left: 0;
                    margin-right: 0;
                    flex-direction: column-reverse;                
                }
                .anuncio{
                    width:fit-content;
                }
            }

            /* CELULARES */

            @media screen and (max-width: 450px) {

                header{
                    padding-bottom: 0px;
                    width: 49vh;
                    height: 10vh;
                }

                img{
                    margin-left: 100px;
                    height: 450px;
                    width: 150px;
                }

                #pesquisa{
                    position: relative;
                    left: 0;
                    margin-left: 0;
                    font-size: 20px;
                    width: 73%;
                    background-size: auto;
                    border: solid 2px rgb(146, 146, 146);
                }
                main{
                    height: 500vh;
                }
                .anuncio{
                    margin-left: 28px;
                    font-size: 28px;
                    align-items: center;
                    display: flex;
                }

                .guitarra_1{
                    top: 0px;
                }
                .preco{
                    margin-top: -5px;
                    margin-left: 37%;
                }
                
                .item_1{
                    width: 88vw;
                    height: 80vh;
                }
                .item_1_1{
                    
                    height: 30vh;
                }
                .item_2{
                    position: relative;
                    top: 81vh;
                    margin-left: 0;
                    left: -99.8%;
                    height: 30vh;
                }
                .item_3{
                    position: relative;
                    top: 162vh;
                    left: -199.5%;
                    margin-left: 0;
                    height: 30vh;
                } 
                .item_4{
                    position: relative;
                    top: 243vh;
                    left: -299.5%;
                    height: 30vh;

                }
                .item_5{
                    position: relative;
                    top: 324vh;
                    left: -399.3%;
                    height: 30vh;

                }
                .item_6{
                    position: relative;
                    top: 405vh;
                    left: -499%;
                    height: 30vh;

                   
                }
                .item_final{
                    width: 88vw;

                }

                .gibson{
                    margin-left: 15vw;
                }

                .titulo{
                    font-size: 22px;
                }
                .abrir{
                    left: 100%;
                }
                #abrir{
                    position: relative;
                    margin-left: 30px;
                    top: -25px;
                }
                .fender{
                    width: auto;
                    height: 400px;
                    margin-left: 23vw;
                }
                .sobre_nos:hover{
                    width: 90vw;
                }
            }